.section-group-news {
  width: 100%;
  margin: 50px auto;
  .news-group {
    background-color: map-get($color, "gray-f");
    padding: 20px;
  }
}
.news-item {
  height: 250px;
  margin: 1.5rem auto;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: map-get($color, "white");
  .news-image {
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .news-content {
    @include justify-between;
    height: 100%;
  }
  .news-info {
    @include align-center;
    &-item {
      margin-right: 1rem;
    }
  }
  .news-title {
    @include font-size-weight(map-get($font-size, "xl"), 700);
    color: map-get($color, "black");
  }
  .news-text {
    @include font-size-weight(map-get($font-size, "s"), 400);
    color: map-get($color, "gray-b");
  }
}
