.nav-bar,
.navigation-group {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .navigation-item {
    @include flex-center;
    height: 100%;
    flex: 1;
    border-right: 1px solid map-get($color, "gray-b");
    &:first-child {
      flex: 2;
      justify-content: flex-start;
      padding-left: 1rem;
      border-left: 1px solid map-get($color, "gray-b");
    }
    .nav-link {
      color: map-get($color, "white");
    }
  }
}
